@font-face {
  font-family: SUIT Variable;
  src: url(../SUIT-Variable.ttf) format('truetype-variations');
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background-color: rgb(26 26 26);
}


body {
  margin: 0;
  display: flex;
  flex: 1;
  min-width: 320px;
  background: var(--background-color);
}

#root {
  display: flex;
  flex: 1;
}